@charset "UTF-8";
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.eot"), url("../fonts/Roboto-Medium.woff2"), url("../fonts/Roboto-Medium.woff"), url("../fonts/Roboto-Medium.ttf"), url("../fonts/Roboto-Medium.svg");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot"), url("../fonts/Roboto-Regular.woff2"), url("../fonts/Roboto-Regular.woff"), url("../fonts/Roboto-Regular.ttf"), url("../fonts/Roboto-Regular.svg");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot"), url("../fonts/Roboto-Light.woff2"), url("../fonts/Roboto-Light.woff"), url("../fonts/Roboto-Light.ttf"), url("../fonts/Roboto-Light.svg");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.eot"), url("../fonts/Roboto-Black.woff2"), url("../fonts/Roboto-Black.woff"), url("../fonts/Roboto-Black.ttf"), url("../fonts/Roboto-Black.svg");
}

/* line 37, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 41, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.conteiner {
  max-width: 1170px;
  margin: 0 auto;
}

/* line 46, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__block {
  background: url("../image/Layer_73.svg");
  background-size: cover;
  padding-bottom: 125px;
  margin-bottom: 126px;
  position: relative;
}

/* line 52, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__block::before {
  content: "";
  display: block;
  background: url("../image/Layer_84.svg") no-repeat;
  width: 495px;
  height: 703px;
  position: absolute;
  left: 42%;
  top: 8%;
}

/* line 62, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__block::after {
  content: "";
  display: block;
  background: url("../image/Layer_3.svg") no-repeat;
  width: 392px;
  height: 314px;
  position: absolute;
  left: 39%;
  bottom: -7%;
}

/* line 73, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 77, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__menu__list {
  font-family: "Roboto-Light";
  font-size: 18px;
  display: flex;
}

/* line 81, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__menu__list-inner {
  list-style: none;
  margin-right: 30px;
}

/* line 84, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__menu__list-inner:last-child {
  margin-right: 0;
}

/* line 87, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__menu__list-inner__link {
  text-decoration: none;
  border-bottom: 1px dashed;
  color: #3b3944;
}

/* line 95, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__logo {
  display: flex;
  align-items: center;
}

/* line 98, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__logo::before {
  content: "";
  display: block;
  background: url("../image/Слой_1.svg") no-repeat;
  width: 41px;
  height: 103px;
}

/* line 105, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__logo__titel {
  font-family: "Roboto-Medium";
  font-size: 60px;
  color: #5774b8;
  margin-left: 20px;
}

/* line 113, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

/* line 117, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-inner {
  max-width: 496px;
}

/* line 119, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-inner__titel {
  font-family: "Roboto-Medium";
  font-size: 64px;
  color: #3b3944;
}

/* line 124, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-inner__subtitle {
  font-family: "Roboto-Regular";
  font-size: 34px;
  color: #4b69b0;
  margin-top: 10px;
}

/* line 130, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-inner__list {
  margin-top: 40px;
}

/* line 132, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-inner__list-inner {
  display: flex;
  align-items: center;
  font-family: "Roboto-Regular";
  font-size: 20px;
  color: #3b3944;
  margin-top: 20px;
  list-style: none;
}

/* line 140, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-inner__list-inner:first-child {
  margin-top: 0;
}

/* line 143, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-inner__list-inner:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #2d96cc;
  border-radius: 50%;
  margin: 0 25px 0 6px;
}

/* line 152, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-inner__list-inner:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #5774b8;
  border-radius: 50%;
  position: absolute;
}

/* line 164, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock {
  display: block;
  text-align: center;
  max-width: 220px;
  padding: 25px;
  box-shadow: 2px 9px 43px rgba(105, 132, 194, 0.32);
  background-color: #ffffff;
  border-radius: 4px;
  z-index: 1;
}

/* line 173, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock::before {
  content: "";
  display: block;
  background: url("../image/Layer_2.svg") no-repeat;
  width: 304px;
  height: 316px;
  position: absolute;
  right: 36%;
  bottom: -18%;
}

/* line 183, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__titel {
  font-family: "Roboto-Medium";
  color: #5774b8;
  font-size: 28px;
  margin-bottom: 20px;
}

/* line 189, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

/* line 193, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__price-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

/* line 198, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__price-inner:last-child {
  border-left: 1px solid rgba(192, 223, 234, 0.6);
  padding: 0 0 0 12px;
}

/* line 202, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__price-inner__titel {
  font-family: "Roboto-Light";
  font-size: 13px;
  color: #737e96;
}

/* line 206, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__price-inner__titel-now {
  font-size: 14px;
  color: #30302f;
}

/* line 211, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__price-inner__buy {
  font-family: "Roboto-Medium";
  font-size: 23px;
  color: #737e96;
}

/* line 213, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__price-inner__buy-i::before {
  content: "";
  display: block;
  width: 85px;
  height: 2px;
  background-color: #f76050;
  transform: rotate(20deg);
  position: relative;
  top: 14px;
}

/* line 223, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__price-inner__buy-i::after {
  content: "";
  display: block;
  width: 85px;
  height: 2px;
  background-color: #f76050;
  transform: rotate(-20deg);
  position: relative;
  bottom: 15px;
}

/* line 238, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__price-inner__buy-now {
  font-size: 39px;
  color: #36bde3;
}

/* line 242, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__price-inner__buy-item {
  font-family: "Roboto-Regular";
  font-size: 16px;
}

/* line 250, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__subtitle {
  font-family: "Roboto-Regular";
  font-size: 18px;
  color: #5774b8;
  margin-bottom: 20px;
}

/* line 256, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__time {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

/* line 260, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__time-inner {
  border-left: 1px solid rgba(192, 223, 234, 0.6);
  padding: 0 0 0 12px;
}

/* line 263, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__time-inner:first-child {
  border-left: none;
}

/* line 266, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__time-inner__num {
  font-family: "Roboto-Medium";
  color: #1e1e1e;
  font-size: 26px;
  border: 1px solid #d9ecf2;
  border-radius: 50%;
  padding: 8px 10px;
  background-color: #fcfcfc;
  margin-bottom: 19px;
}

/* line 276, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__time-inner__subtitel {
  font-family: "Roboto-Light";
  color: #291d61;
  font-size: 18px;
}

/* line 283, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__buy {
  border: none;
  background-color: #36bde3;
  border-radius: 5px;
  box-shadow: 0 5px 0 #2d96cc;
  color: #ffffff;
  padding: 11px 51px;
}

/* line 290, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__buy__titel {
  font-family: "Roboto-Black";
  font-size: 27px;
}

/* line 294, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.user__description-stock__buy__subtitel {
  font-family: "Roboto-Regular";
  font-size: 21px;
}

/* line 303, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main {
  position: relative;
  margin-bottom: 260px;
}

/* line 306, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main::before {
  content: "";
  display: block;
  background: url("../image/бг.png") no-repeat;
  background-size: contain;
  width: 920px;
  height: 869px;
  position: absolute;
  right: 5%;
  top: 8%;
}

/* line 317, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main::after {
  content: "";
  display: block;
  background: url("../image/Layer_80_copy_2.svg") no-repeat;
  background-size: contain;
  width: 487px;
  height: 800px;
  position: absolute;
  right: 16%;
  top: 18%;
}

/* line 328, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main .conteiner {
  max-width: 890px;
}

/* line 331, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__titel {
  font-family: "Roboto-Medium";
  color: #2e2c35;
  font-size: 49px;
  text-align: center;
}

/* line 336, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__titel-inner {
  color: #f56856;
}

/* line 340, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__info {
  max-width: 480px;
}

/* line 342, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__info-inner {
  position: relative;
  margin-top: 45px;
}

/* line 345, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__info-inner__pain::before {
  content: "";
  display: block;
  background: url("../image/thunder.svg") no-repeat;
  background-size: contain;
  width: 26px;
  height: 46px;
  position: absolute;
  left: -25%;
  bottom: 24%;
}

/* line 356, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__info-inner__pain::after {
  content: "";
  display: block;
  width: 26px;
  height: 46px;
  border: 2px solid #f56856;
  border-radius: 50%;
  padding: 15px 23px;
  position: absolute;
  left: -30%;
  bottom: 20%;
}

/* line 370, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__info-inner__constraint::before {
  content: "";
  display: block;
  background: url("../image/lock.svg") no-repeat;
  background-size: contain;
  width: 26px;
  height: 46px;
  position: absolute;
  left: -25%;
  bottom: 24%;
}

/* line 381, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__info-inner__constraint::after {
  content: "";
  display: block;
  width: 26px;
  height: 46px;
  border: 2px solid #f56856;
  border-radius: 50%;
  padding: 15px 23px;
  position: absolute;
  left: -30%;
  bottom: 20%;
}

/* line 395, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__info-inner__edema::before {
  content: "";
  display: block;
  background: url("../image/foot.svg") no-repeat;
  background-size: contain;
  width: 26px;
  height: 46px;
  position: absolute;
  left: -25%;
  bottom: 24%;
}

/* line 406, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__info-inner__edema::after {
  content: "";
  display: block;
  width: 26px;
  height: 46px;
  border: 2px solid #f56856;
  border-radius: 50%;
  padding: 15px 23px;
  position: absolute;
  left: -30%;
  bottom: 20%;
}

/* line 420, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__info-inner:first-child {
  margin-top: 80px;
}

/* line 423, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__info-inner__titel {
  font-family: "Roboto-Medium";
  color: #2e2c35;
  font-size: 32px;
}

/* line 428, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__info-inner__description {
  font-family: "Roboto-Light";
  color: #7e7c89;
  font-size: 20px;
}

/* line 433, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__info-inner__warning {
  font-family: "Roboto-Medium";
  color: #3b3944;
  font-size: 20px;
}

/* line 437, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__info-inner__warning__data {
  margin-top: 120px;
}

/* line 439, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__info-inner__warning__data::before {
  content: "";
  display: block;
  background: url("../image/risk.svg") no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
  position: absolute;
  left: -45%;
  bottom: 0;
}

/* line 450, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__info-inner__warning__data::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background: #b9cfdd;
  position: absolute;
  top: -40%;
  left: -45%;
}

/* line 462, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__info-inner__data {
  max-width: 315px;
}

/* line 464, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.main__info-inner__data::before {
  content: "";
  display: block;
  width: 135px;
  height: 3px;
  background: #e5f2fa;
  position: absolute;
  top: -40%;
  left: 0;
}

/* line 479, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__buy {
  background: url("../image/Layer_74.svg") no-repeat;
  background-size: cover;
  padding: 40px 0 35px 0;
  margin-bottom: 176px;
  position: relative;
}

/* line 485, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__buy::after {
  content: "";
  display: block;
  background: url("../image/Layer_2.svg") no-repeat;
  width: 304px;
  height: 316px;
  position: absolute;
  right: 19%;
  top: 24%;
}

/* line 495, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__buy::before {
  content: "";
  display: block;
  background: url("../image/Layer_3.svg") no-repeat;
  width: 392px;
  height: 314px;
  position: absolute;
  right: 24%;
  bottom: 8%;
}

/* line 505, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__buy .conteiner {
  max-width: 1140px;
}

/* line 508, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__buy-inner {
  max-width: 590px;
}

/* line 511, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__buy__titel {
  font-family: "Roboto-Medium";
  font-size: 60px;
  color: #3b3944;
  margin-bottom: 20px;
}

/* line 516, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__buy__titel-inner {
  color: #5774b8;
}

/* line 520, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__buy__info {
  display: block;
  font-family: "Roboto-Light";
  color: #3b3944;
  font-size: 28px;
  margin-bottom: 20px;
}

/* line 527, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__buy__price {
  border: none;
  background-color: #36bde3;
  border-radius: 5px;
  box-shadow: 0 5px 0 #2d96cc;
  color: #ffffff;
  padding: 9px 51px;
}

/* line 534, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__buy__price__titel {
  font-family: "Roboto-Black";
  font-size: 27px;
}

/* line 538, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__buy__price-inner {
  font-family: "Roboto-Regular";
  font-size: 21px;
}

/* line 545, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition {
  margin-bottom: 65px;
}

/* line 547, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition .conteiner {
  max-width: 1160px;
}

/* line 550, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition__inner {
  display: flex;
  justify-content: space-between;
}

/* line 553, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition__inner__titel {
  font-family: "Roboto-Medium";
  color: #2e2c35;
  font-size: 51px;
  position: relative;
  width: 50%;
  margin-right: 90px;
}

/* line 560, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition__inner__titel::after {
  content: "";
  display: block;
  background: url("../image/Layer_29_copy_9.svg");
  background-size: cover;
  width: 481px;
  height: 486px;
  margin-top: 56px;
}

/* line 570, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition__inner-col {
  width: 50%;
}

/* line 572, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition__inner-col-info {
  display: flex;
  flex-wrap: wrap;
}

/* line 576, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition__inner-col__descrption {
  display: block;
  width: 45%;
  margin-right: 50px;
}

/* line 580, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition__inner-col__descrption:nth-child(2) {
  margin-right: 0;
}

/* line 583, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition__inner-col__descrption:last-child {
  margin-right: 0;
}

/* line 586, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition__inner-col__descrption-titel {
  font-family: "Roboto-Medium";
  color: #2e2c35;
  font-size: 24px;
}

/* line 590, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition__inner-col__descrption-titel::before {
  content: "";
  display: block;
  background: #e0e9ee;
  height: 3px;
  position: relative;
  top: 45px;
}

/* line 599, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition__inner-col__descrption-item {
  font-family: "Roboto-Light";
  font-size: 18px;
  color: #8e8c95;
}

/* line 605, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition__inner-col__descrption .one-composition::after {
  content: "";
  display: block;
  background: url("../image/Layer_20_copy_5.png");
  background-size: cover;
  width: 178px;
  height: 136px;
  margin-top: 53px;
  margin-bottom: 30px;
}

/* line 617, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition__inner-col__descrption .two-composition::after {
  content: "";
  display: block;
  background: url("../image/Layer_29_copy_3.svg");
  background-size: cover;
  width: 178px;
  height: 136px;
  margin-top: 53px;
  margin-bottom: 30px;
}

/* line 628, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition__inner-col__descrption .three-composition {
  margin-top: 81px;
}

/* line 630, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition__inner-col__descrption .three-composition::after {
  content: "";
  display: block;
  background: url("../image/Слой_5.svg");
  background-size: cover;
  width: 178px;
  height: 136px;
  margin-top: 53px;
  margin-bottom: 30px;
}

/* line 641, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition__inner-col__descrption .four-composition {
  margin-top: 81px;
}

/* line 643, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
.block__composition__inner-col__descrption .four-composition::after {
  content: "";
  display: block;
  background: url("../image/Слой_4.svg");
  background-size: cover;
  width: 178px;
  height: 136px;
  margin-top: 53px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1500px) {
  /* line 660, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__block::after {
    bottom: -7%;
  }
  /* line 663, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock::before {
    right: 28%;
    bottom: -18%;
  }
}

@media screen and (max-width: 1400px) {
  /* line 670, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__block::after {
    left: 38%;
    bottom: -5%;
  }
  /* line 674, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock::before {
    right: 29%;
    bottom: -16%;
  }
  /* line 679, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy::before {
    right: 18%;
  }
  /* line 682, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy::after {
    right: 11%;
  }
}

@media screen and (max-width: 1175px) {
  /* line 689, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .conteiner {
    max-width: 920px;
  }
  /* line 693, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__block::before {
    background-size: contain;
    width: 433px;
    height: 603px;
    left: 43%;
    top: 17%;
  }
  /* line 700, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__block::after {
    background-size: contain;
    width: 370px;
    height: 296px;
    left: 38%;
    bottom: -8%;
  }
  /* line 708, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock {
    max-width: 200px;
  }
  /* line 710, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock::before {
    background-size: contain;
    width: 276px;
    height: 285px;
    right: 27%;
    bottom: -17%;
  }
  /* line 718, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-inner__titel {
    font-size: 60px;
  }
  /* line 721, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-inner__subtitle {
    font-size: 26px;
  }
  /* line 724, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-inner__list-inner {
    font-size: 18px;
  }
  /* line 728, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-inner__list-inner:before {
    width: 8px;
    height: 8px;
  }
  /* line 732, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-inner__list-inner:after {
    width: 18px;
    height: 18px;
  }
  /* line 737, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-inner__list {
    margin-top: 20px;
  }
  /* line 740, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__titel {
    font-size: 25px;
  }
  /* line 743, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__price-inner__buy {
    font-size: 20px;
  }
  /* line 746, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__price-inner__titel {
    font-size: 12px;
  }
  /* line 749, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__price-inner__titel-now {
    font-size: 13px;
  }
  /* line 752, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__price-inner__buy-now {
    font-size: 35px;
  }
  /* line 755, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__subtitle {
    font-size: 17px;
  }
  /* line 758, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__time-inner__num {
    font-size: 22px;
  }
  /* line 761, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__time-inner__subtitel {
    font-size: 16px;
  }
  /* line 764, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__buy__titel {
    font-size: 24px;
  }
  /* line 767, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__buy__subtitel {
    font-size: 16px;
  }
  /* line 770, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__buy {
    padding: 5px 40px;
  }
  /* line 774, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__price-inner__buy-i::before {
    width: 80px;
  }
  /* line 777, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__price-inner__buy-i::after {
    width: 80px;
  }
  /* line 782, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__pain::before {
    left: -17%;
    width: 24px;
    height: 44px;
  }
  /* line 787, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__pain::after {
    left: -22%;
  }
  /* line 791, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__titel {
    font-size: 29px;
  }
  /* line 794, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__description {
    font-size: 17px;
  }
  /* line 798, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__constraint::before {
    left: -17%;
  }
  /* line 801, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__constraint::after {
    left: -22%;
  }
  /* line 806, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__edema::before {
    left: -17%;
  }
  /* line 809, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__edema::after {
    left: -22%;
  }
  /* line 814, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__warning__data::before {
    width: 65px;
    height: 65px;
    left: -30%;
  }
  /* line 819, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__warning__data::after {
    left: -30%;
  }
  /* line 824, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main::after {
    right: 14%;
  }
  /* line 828, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy::before {
    background-size: contain;
    width: 360px;
    height: 300px;
    right: 17%;
    bottom: 7%;
  }
  /* line 835, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy::after {
    background-size: contain;
    width: 285px;
    height: 296px;
    right: 10%;
  }
  /* line 842, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy .conteiner {
    max-width: 920px;
  }
  /* line 845, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy__titel {
    font-size: 50px;
  }
  /* line 848, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy__info {
    font-size: 22px;
  }
  /* line 851, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition .conteiner {
    max-width: 920px;
  }
  /* line 854, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner__titel {
    font-size: 41px;
    margin-right: 25px;
  }
  /* line 858, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner__titel::after {
    background-repeat: no-repeat;
    background-size: contain;
    width: 420px;
    height: 405px;
    margin-top: 50px;
  }
  /* line 865, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption {
    width: 40%;
    margin-right: 50px;
  }
  /* line 869, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption .one-composition::after {
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    height: 122px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  /* line 877, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption-titel {
    font-size: 20px;
  }
  /* line 880, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption-item {
    font-size: 14px;
  }
  /* line 883, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption .two-composition::after {
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    height: 122px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  /* line 891, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption .three-composition::after {
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    height: 122px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  /* line 899, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption .four-composition::after {
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    height: 122px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  /* line 910, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__block::before {
    left: 50%;
    top: 18%;
  }
  /* line 914, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__block::after {
    left: 30%;
    top: 72%;
    width: 350px;
    height: 280px;
  }
  /* line 920, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock::before {
    right: 29%;
    bottom: -18%;
    width: 265px;
    height: 275px;
  }
  /* line 926, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info {
    max-width: 55%;
  }
  /* line 929, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main::before {
    width: 750px;
    height: 720px;
  }
  /* line 933, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main::after {
    width: 450px;
    height: 670px;
    right: 5%;
    top: 18%;
  }
  /* line 939, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__titel {
    font-size: 45px;
  }
  /* line 942, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner {
    padding-left: 90px;
  }
  /* line 945, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__pain::before {
    left: 4%;
    width: 20px;
    height: 40px;
  }
  /* line 950, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__pain::after {
    left: 0;
    width: 10px;
    height: 30px;
  }
  /* line 956, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__constraint::before {
    left: 4%;
    width: 20px;
    height: 40px;
  }
  /* line 961, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__constraint::after {
    left: 0;
    width: 10px;
    height: 30px;
  }
  /* line 968, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__edema::before {
    left: 4%;
    width: 20px;
    height: 40px;
  }
  /* line 973, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__edema::after {
    left: 0;
    width: 10px;
    height: 30px;
  }
  /* line 979, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__warning__data::before {
    left: 0%;
  }
  /* line 982, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__data::before {
    top: -30%;
    left: 22%;
  }
  /* line 986, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__warning__data::after {
    left: 0;
    top: -30%;
  }
  /* line 990, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy::before {
    right: 10%;
  }
  /* line 993, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy::after {
    right: 2%;
  }
}

@media screen and (max-width: 768px) {
  /* line 999, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .conteiner {
    max-width: 700px;
  }
  /* line 1002, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__block::before {
    display: none;
  }
  /* line 1005, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock::before {
    display: none;
  }
  /* line 1008, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__block::after {
    width: 360px;
    height: 290px;
    left: 32%;
    top: 75%;
  }
  /* line 1014, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-inner__titel {
    font-size: 51px;
  }
  /* line 1017, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-inner__subtitle {
    font-size: 22px;
  }
  /* line 1020, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-inner__list-inner {
    font-size: 16px;
  }
  /* line 1023, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__titel {
    font-size: 20px;
  }
  /* line 1026, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__price {
    margin-bottom: 15px;
  }
  /* line 1029, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__price-inner__titel {
    font-size: 10px;
  }
  /* line 1032, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__price-inner__buy {
    font-size: 16px;
  }
  /* line 1035, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__price-inner__titel-now {
    font-size: 13px;
  }
  /* line 1038, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__price-inner__buy-now {
    font-size: 20px;
  }
  /* line 1041, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__subtitle {
    font-size: 14px;
  }
  /* line 1044, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__time-inner:first-child {
    padding-left: 0;
  }
  /* line 1047, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__time-inner__num {
    font-size: 16px;
    margin-bottom: 10px;
  }
  /* line 1052, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__price-inner__buy-i::before {
    width: 75px;
    top: 11px;
  }
  /* line 1056, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__price-inner__buy-i::after {
    width: 75px;
    bottom: 9px;
  }
  /* line 1061, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main::before {
    display: none;
  }
  /* line 1064, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main::after {
    display: none;
  }
  /* line 1067, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info {
    max-width: 100%;
  }
  /* line 1070, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main .conteiner {
    max-width: 700px;
  }
  /* line 1073, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__pain::after {
    left: 8px;
  }
  /* line 1076, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__constraint::after {
    left: 8px;
  }
  /* line 1079, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__edema::after {
    left: 8px;
  }
  /* line 1082, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy .conteiner {
    max-width: 700px;
  }
  /* line 1085, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy__titel {
    font-size: 40px;
  }
  /* line 1088, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy__info {
    font-size: 16px;
  }
  /* line 1091, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy__price {
    padding: 5px 40px;
  }
  /* line 1094, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy__price__titel {
    font-size: 21px;
  }
  /* line 1097, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy__price-inner {
    font-size: 16px;
  }
  /* line 1100, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy::before {
    right: 7%;
    width: 324px;
    height: 265px;
  }
  /* line 1105, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy::after {
    width: 277px;
    height: 270px;
    right: 0;
  }
  /* line 1110, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition .conteiner {
    max-width: 700px;
  }
  /* line 1113, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner {
    display: block;
  }
  /* line 1116, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner__titel {
    width: 100%;
    text-align: center;
    font-size: 36px;
    margin-right: 0;
    margin-bottom: 5%;
  }
  /* line 1123, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner__titel::after {
    display: none;
  }
  /* line 1126, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col {
    width: 100%;
  }
  /* line 1129, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption {
    text-align: center;
  }
  /* line 1132, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption .one-composition::after {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 21%;
  }
  /* line 1137, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption .two-composition::after {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 21%;
  }
  /* line 1142, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption .three-composition::after {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 21%;
  }
  /* line 1147, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption .four-composition::after {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 21%;
  }
  /* line 1152, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col-info {
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  /* line 1159, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .conteiner {
    max-width: 320px;
  }
  /* line 1162, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__menu {
    flex-direction: column;
  }
  /* line 1165, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-inner__subtitle {
    text-align: center;
  }
  /* line 1168, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__menu__list {
    margin-top: 5%;
    font-size: 22px;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 1175, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__menu__list-inner:nth-child(2) {
    margin: 0;
  }
  /* line 1178, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__menu__list-inner:last-child {
    margin-top: 10px;
  }
  /* line 1182, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description {
    display: block;
  }
  /* line 1185, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-inner__titel {
    font-size: 35px;
    text-align: center;
  }
  /* line 1189, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__block::after {
    display: none;
  }
  /* line 1192, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__block::before {
    display: none;
  }
  /* line 1195, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock {
    max-width: 70%;
    margin-top: 50px;
  }
  /* line 1199, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock::before {
    display: none;
  }
  /* line 1202, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__titel {
    font-size: 28px;
    margin-right: 0;
  }
  /* line 1206, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__price-inner__titel {
    font-size: 13px;
  }
  /* line 1209, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__price-inner__buy {
    font-size: 18px;
  }
  /* line 1212, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__price-inner__titel-now {
    font-size: 18px;
  }
  /* line 1215, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__price-inner__buy-now {
    font-size: 30px;
  }
  /* line 1218, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__subtitle {
    font-size: 18px;
  }
  /* line 1221, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__time-inner__num {
    font-size: 21px;
  }
  /* line 1224, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description-stock__time-inner__subtitel {
    font-size: 18px;
  }
  /* line 1227, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__block {
    padding-bottom: 50px;
  }
  /* line 1230, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main .conteiner {
    max-width: 320px;
  }
  /* line 1233, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__pain::before {
    display: none;
  }
  /* line 1236, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__pain::after {
    display: none;
  }
  /* line 1239, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main::before {
    display: none;
  }
  /* line 1242, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main::after {
    display: none;
  }
  /* line 1245, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__constraint::before {
    display: none;
  }
  /* line 1248, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__constraint::after {
    display: none;
  }
  /* line 1251, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__edema::before {
    display: none;
  }
  /* line 1254, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__edema::after {
    display: none;
  }
  /* line 1257, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner {
    padding-left: 0;
  }
  /* line 1260, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__titel {
    font-size: 27px;
  }
  /* line 1263, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__titel {
    font-size: 21px;
  }
  /* line 1266, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__description {
    font-size: 14px;
    margin-top: 8px;
  }
  /* line 1270, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__warning__data::before {
    display: none;
  }
  /* line 1273, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__warning__data::after {
    display: none;
  }
  /* line 1276, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner__data::before {
    left: 0;
  }
  /* line 1279, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main {
    margin-bottom: 170px;
  }
  /* line 1282, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy .conteiner {
    max-width: 320px;
  }
  /* line 1285, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy::after {
    display: none;
  }
  /* line 1288, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy::before {
    right: 22%;
    top: 70%;
    width: 250px;
    height: 200px;
  }
  /* line 1294, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy-inner {
    max-width: 320px;
    text-align: center;
  }
  /* line 1298, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy__info {
    font-size: 14px;
  }
  /* line 1301, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy__price__titel {
    font-size: 16px;
  }
  /* line 1304, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy__price-inner {
    font-size: 12px;
  }
  /* line 1307, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy {
    padding: 40px 0 60px 0;
  }
  /* line 1310, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy__price {
    padding: 5px 40px;
    position: relative;
  }
  /* line 1314, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition .conteiner {
    max-width: 320px;
  }
  /* line 1317, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner__titel {
    font-size: 25px;
  }
  /* line 1320, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col-info {
    display: block;
  }
  /* line 1323, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15%;
  }
  /* line 1327, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  /* line 1334, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .conteiner {
    max-width: 300px;
  }
  /* line 1337, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* line 1343, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .user__block {
    margin-bottom: 35px;
  }
  /* line 1346, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main .conteiner {
    max-width: 300px;
  }
  /* line 1349, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__titel {
    font-size: 25px;
  }
  /* line 1352, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main__info-inner:first-child {
    margin-top: 30px;
  }
  /* line 1355, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .main {
    margin-bottom: 50px;
  }
  /* line 1358, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__buy::before {
    right: 0;
    top: 78%;
    width: 245px;
    height: 195px;
  }
  /* line 1364, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition .conteiner {
    max-width: 300px;
  }
  /* line 1367, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner__titel {
    font-size: 20px;
  }
  /* line 1370, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption-titel {
    font-size: 18px;
  }
  /* line 1373, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption .one-composition::after {
    margin-top: 25px;
    margin-bottom: 5px;
  }
  /* line 1377, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption {
    margin-bottom: 10%;
  }
  /* line 1380, C:/Users/Liubov/Desktop/Pantoflex/scss/index.scss */
  .block__composition__inner-col__descrption-item {
    font-size: 12px;
  }
}

/*# sourceMappingURL=../css/index.map */